.main {
  background-image: url("about-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @apply mt-12 flex flex-col justify-center items-center gap-[24rem] text-white;

  .word {
    @apply mt-[-3rem] text-3xl;
  }

  .about-button {
    @apply bg-white text-black h-[4rem] w-[15rem] rounded-[4rem] text-sm mt-[8rem] ml-[4.7rem];
  }
}
